<section class="text-center" id="demos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <h2 class="h1">Get started with a production-ready landing page or build your own.</h2>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-coworking.html">
          <img src="assets/img/demos/home-coworking.png" alt="Coworking" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-coworking.html" class="fade-up">
              <h3 class="h2">Coworking<span class="badge badge-primary ml-2">New</span></h3>
            </a>
            <p class="lead">
              A landing for shared workspaces with date picker functionality.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/home/clock.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Date picker</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/rss.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Blog listing cards</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Fullscreen video lightbox</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-mobile-app.html">
          <img src="assets/img/demos/home-mobile-application.png" alt="Mobile Application" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-mobile-app.html" class="fade-up">
              <h3 class="h2">Mobile Application</h3>
            </a>
            <p class="lead">
              Make an impression showcasing the features of your mobile app.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/devices/iphone-x.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Screenshot slider</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Fullscreen video lightbox</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/layout/layout-arrange.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Masonry testimonials</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-course.html">
          <img src="assets/img/demos/home-course.png" alt="Online Course" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-course.html" class="fade-up">
              <h3 class="h2">Online Course</h3>
            </a>
            <p class="lead">
              An engaging layout to promote e-learning and paid course material.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/add-user.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Signup form</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/chat-6.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Testimonial slider</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/home/book-open.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Chapter overview cards</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-saas.html">
          <img src="assets/img/demos/home-saas.png" alt="SaaS Application" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-saas.html" class="fade-up">
              <h3 class="h2">SaaS Application</h3>
            </a>
            <p class="lead">
              Educate potential customers and grow your user base.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/add-user.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Signup form</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/cooking/dish.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Image with hotspot</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/dial-numbers.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Feature comparison table</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-saas-trend.html">
          <img src="assets/img/demos/home-saas-trend.png" alt="SaaS Application (Trend)" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-saas-trend.html" class="fade-up">
              <h3 class="h2">SaaS Application (Trend)</h3>
            </a>
            <p class="lead">
              An alternative layout with trend inspired sketch graphics
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/add-user.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Signup form</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/text/menu.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Collapsable accordion</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/rss.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Blog listing cards</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-event.html">
          <img src="assets/img/demos/home-event.png" alt="Event &amp; Meetup" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-event.html" class="fade-up">
              <h3 class="h2">Event &amp; Meetup</h3>
            </a>
            <p class="lead">
              Conference and event layout with even-specific functionality.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/communication/clipboard-list.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Tabbed schedule</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/home/picture.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Fullscreen lightbox gallery</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/shopping/ticket.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Unique pricing option</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-cryptocurrency.html">
          <img src="assets/img/demos/home-cryptocurrency.png" alt="Cryptocurrency" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-cryptocurrency.html" class="fade-up">
              <h3 class="h2">Cryptocurrency</h3>
            </a>
            <p class="lead">
              A home for your ICO or other emerging blockchain enterprises.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/code/time-schedule.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Date countdown</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/code/commit.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Roadmap timeline</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Fullscreen video lightbox</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-desktop-app.html">
          <img src="assets/img/demos/home-desktop-app.png" alt="Desktop Application" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-desktop-app.html" class="fade-up">
              <h3 class="h2">Desktop Application</h3>
            </a>
            <p class="lead">
              Attract and immerse users in your stand-alone desktop or web application.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/cooking/dish.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Image with hotspot</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/shopping/box-3.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Dual license pricing</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Fullscreen video lightbox</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-software-library.html">
          <img src="assets/img/demos/home-software-library.png" alt="Software Library" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-software-library.html" class="fade-up">
              <h3 class="h2">Software Library</h3>
            </a>
            <p class="lead">
              Get traction on your project with a dedicated landing page.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/text/text-width.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Typed text effect</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Fullscreen video lightbox</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/shopping/calculator.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Stat counter</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="fade-page" href="home-portfolio.html">
          <img src="assets/img/demos/home-portfolio.png" alt="Portfolio" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="home-portfolio.html" class="fade-up">
              <h3 class="h2">Portfolio</h3>
            </a>
            <p class="lead">
              Sell yourself with this bold layout for digital creatives.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/layout/layout-arrange.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Masonry portfolio gallery</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/text/edit-text.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Jumbo personal intro</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="assets/img/icons/theme/text/itallic.svg" alt="icon" data-inject-svg />
                <span class="h6 mb-0 ml-2">Distraction-free layout</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary-alt">
  <div class="container">
    <div class="row justify-content-center text-center mb-6">
      <div class="col-xl-8 col-lg-9">
        <h2 class="display-4 mx-xl-6">Your site needs more than a landing page</h2>
        <p class="lead">
          Tired of incomplete templates? Leap includes a full suite of detailed inner pages to establish a complete online presence.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 bg-primary-alt o-hidden">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-auto col-md-6 mb-4 mb-md-0">
        <div class="decoration position-relative">
          <img class="bg-primary" src="assets/img/decorations/deco-blob-1.svg" alt="deco-blob-1 decoration" data-inject-svg />
        </div>
        <div class="decoration top middle-x layer-1" data-jarallax-element="20 20">
          <img class="bg-primary-2" src="assets/img/decorations/deco-lines-3.svg" alt="deco-lines-3 decoration" data-inject-svg />
        </div>
        <div class="decoration bottom left layer-2" data-jarallax-element="-20 -20">
          <img class="bg-primary-3" src="assets/img/decorations/deco-dots-1.svg" alt="deco-dots-1 decoration" data-inject-svg />
        </div>
        <div class="decoration bottom right layer-2" data-jarallax-element="-20 0">
          <img class="bg-white" src="assets/img/decorations/deco-lines-2.svg" alt="deco-lines-2 decoration" data-inject-svg />
        </div>
      </div>
      <div class="col-xl-5 col-md-6">
        <h3 class="h1">Stand out with unique visual appeal</h3>
        <p class="lead">
          Leap includes a stylish library of SVG decorations. Easily arrange your own unique collages and position them with intuitive CSS classes.
        </p>
        <a href="elements-decorations.html" class="lead hover-arrow">Explore SVG Deocrations</a>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 bg-primary-alt has-divider">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-xl-5 col-md-6 mb-4 mb-md-0">
        <h3 class="h1">Colour schemes made easy</h3>
        <p class="lead">
          Rock one of Leap's carefully curated colour schemes or roll your own using the clearly defined Sass variables.
        </p>
        <div class="rounded bg-white border p-3 text-monospace shadow-sm layer-2 mt-3">
          <div>
            <span>$primary-1:</span>
            <span class="text-primary">#375ABB;</span>
          </div>
          <div>
            <span>$primary-2:</span>
            <span class="text-primary-2">#FB8F8A;</span>
          </div>
          <div>
            <span>$primary-3:</span>
            <span data-typed-text data-type-speed="80" data-strings='["#1B1F3B;"]' data-loop="true" data-back-delay="2000" class="text-primary-3"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="row no-gutters rounded o-hidden border mb-3 shadow-sm">
          <div class="col p-4 bg-primary"></div>
          <div class="col p-4 bg-primary-alt"></div>
          <div class="col-auto px-4 py-3 bg-white">
            <div class="h6 mb-0">Primary 1</div>
            <span class="font-weight-bold text-muted">#375ABB</span>
          </div>
        </div>
        <div class="row no-gutters rounded o-hidden border mb-3 shadow-sm">
          <div class="col p-4 bg-primary-2"></div>
          <div class="col p-4 bg-primary-2-alt"></div>
          <div class="col-auto px-4 py-3 bg-white">
            <div class="h6 mb-0">Primary 2</div>
            <span class="font-weight-bold text-muted">#FB8F8A</span>
          </div>
        </div>
        <div class="row no-gutters rounded o-hidden border shadow-sm">
          <div class="col p-4 bg-primary-3"></div>
          <div class="col p-4 bg-primary-3-alt"></div>
          <div class="col-auto px-4 py-3 bg-white">
            <div class="h6 mb-0">Primary 3</div>
            <span class="font-weight-bold text-muted">#1B1F3B</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider">
    <img src="assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
  </div>
</section>
<section class="has-divider">
  <div class="container">
    <div class="row justify-content-center text-center mb-6">
      <div class="col-xl-8 col-lg-9">
        <h2 class="display-4 mx-xl-6">Less work, more flow.</h2>
        <p class="lead">
          Boost productivity with BrowserSync. SCSS changes are reflected instantly and pages scroll and refresh on devices as you work.
        </p>
      </div>
    </div>
    <div class="row justify-content-center mb-6">
      <div class="col-xl-5 col-md-8">
        <div class="position-relative">
          <div class="rounded bg-primary-3 p-4 text-light text-monospace mb-2 layer-2">
            <div class="mb-3">
              <div>&gt; $ npm install</div>
              <div class="text-primary-2">Everything’s installed!</div>
            </div>
            <div class="mb-3">
              <div>&gt; $ gulp</div>
              <div class="text-primary-2">SCSS watching</div>
              <div class="text-primary-2">LiveReload started</div>
              <div class="text-primary-2">Opening localhost:3000</div>
            </div>
            <div>
              <div>&gt; $ that's it?</div>
              <div class="text-primary-2">Yep, that's it.</div>
            </div>
          </div>
        </div>
        <div class="alert alert-primary position-relative layer-3">&#x1F631; Look unfamiliar? Don’t worry! Our <a href="documentation/index.html">comprehensive
        documentation</a> has got you covered.</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="d-flex flex-wrap justify-content-center list-unstyled">
          <li class="mx-2 mx-lg-4 mb-5 mb-md-0">
            <img class="icon bg-primary-3 icon-lg opacity-20" src="assets/img/logos/developer/bootstrap.svg" alt="bootstrap brand logo large icon" data-inject-svg />
          </li>
          <li class="mx-2 mx-lg-4 mb-5 mb-md-0">
            <img class="icon bg-primary-3 icon-lg opacity-20" src="assets/img/logos/developer/sass.svg" alt="sass brand logo large icon" data-inject-svg />
          </li>
          <li class="mx-2 mx-lg-4 mb-5 mb-md-0">
            <img class="icon bg-primary-3 icon-lg opacity-20" src="assets/img/logos/developer/gulp.svg" alt="gulp brand logo large icon" data-inject-svg />
          </li>
          <li class="mx-2 mx-lg-4 mb-5 mb-md-0">
            <img class="icon bg-primary-3 icon-lg opacity-20" src="assets/img/logos/developer/browsersync.svg" alt="browsersync brand logo large icon" data-inject-svg />
          </li>
          <li class="mx-2 mx-lg-4 mb-5 mb-md-0">
            <img class="icon bg-primary-3 icon-lg opacity-20" src="assets/img/logos/developer/npm.svg" alt="npm brand logo large icon" data-inject-svg />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="divider">
    <img class="bg-primary" src="assets/img/dividers/divider-2.svg" alt="divider graphic" data-inject-svg />
  </div>
</section>
<section class="bg-primary">
  <div class="container">
    <div class="row text-light mb-4">
      <div class="col">
        <h3 class="h1">Premium Plugins</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-lg-4">
        <a href="elements-flickity.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/layout/layout-3d.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Flickity</h5>
            <span>Responsive Content Slider</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-fancybox.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/general/expand-arrows.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Fancybox</h5>
            <span>Responsive, Fullscreen Gallery</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-isotope.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/layout/layout-arrange.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Isotope</h5>
            <span>Fitted masonry layouts</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-video-backgrounds.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/media/movie-lane-2.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Video Backgrounds</h5>
            <span>Youtube, Vimeo and Local</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-parallax.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/general/duplicate.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Parallax</h5>
            <span>Backgrounds or any element</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-animations.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/general/thunder-move.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Scroll Animations</h5>
            <span>Create dynamic pages</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-typed-text.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/text/text-width.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Typed Text</h5>
            <span>Simulated typing effect</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-countdown.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/theme/code/time-schedule.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Countdowns</h5>
            <span>Count to a specified date</span>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-4">
        <a href="elements-twitter.html" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
          <img class="icon icon-lg
    bg-primary-2" src="assets/img/icons/social/twitter.svg" alt="icon" data-inject-svg />
          <div class="ml-3">
            <h5 class="mb-0">Twitter Feeds</h5>
            <span>Dynamic news feeds</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
<section class="pt-0 bg-primary text-light">
  <div class="container">
    <div class="row text-light mb-4">
      <div class="col">
        <h3 class="h1">Notable Features</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-lg-4 d-flex mb-4">
        <img class="icon icon-md" src="assets/img/icons/theme/devices/iphone-x.svg" alt="icon" data-inject-svg />
        <div class="ml-3">
          <h5>Fully Responsive Design</h5>
          <div>
            Based on the mobile-first Bootstrap framework, Leap scales to fit each device responsively.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4">
        <img class="icon icon-md" src="assets/img/icons/theme/general/fire.svg" alt="icon" data-inject-svg />
        <div class="ml-3">
          <h5>600+ Premium Icons</h5>
          <div>
            Choose from a well organised library of lightweight SVG icons that seamlessly adapt to your sites color scheme.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4">
        <img class="icon icon-md" src="assets/img/icons/theme/communication/readed-mail.svg" alt="icon" data-inject-svg />
        <div class="ml-3">
          <h5>Working Mail Forms</h5>
          <div>
            Contact and subscribe forms work out of the box. Validation, AJAX, reCAPTCHA v2 and Email Handling are all taken care of.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4">
        <img class="icon icon-md" src="assets/img/icons/theme/files/pictures-1.svg" alt="icon" data-inject-svg />
        <div class="ml-3">
          <h5>All Images Included</h5>
          <div>
            Photography and Illustration SVGs are included in the download package and are free to use.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4">
        <img class="icon icon-md" src="assets/img/icons/theme/map/marker-1.svg" alt="icon" data-inject-svg />
        <div class="ml-3">
          <h5>Google Maps API</h5>
          <div>
            Set custom style, multiple markers and rich tooltip content easily through simple HTML and data attributes.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4">
        <img class="icon icon-md" src="assets/img/icons/theme/communication/group-chat.svg" alt="icon" data-inject-svg />
        <div class="ml-3">
          <h5>6 Months Support</h5>
          <div>
            Buy with confidence. Our team offers timely and personal support via a dedicated support channel.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <h3 class="h2">Frequently Asked Questions</h3>
        <div class="my-4">
          <div class="card mb-2 card-sm card-body hover-shadow-sm">
            <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
              <span class="h6 mb-0">Can I just use the static HTML files?</span>
              <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
            </div>
            <div class="collapse" id="panel-1">
              <div class="pt-3">
                <p>Yes. The gulp workflow can be bypassed all together if you prefer to simply edit the static HTML and CSS files.</p>

              </div>
            </div>
          </div>
          <div class="card mb-2 card-sm card-body hover-shadow-sm">
            <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
              <span class="h6 mb-0">Are the images included in the download package?</span>
              <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
            </div>
            <div class="collapse" id="panel-2">
              <div class="pt-3">
                <p>Yes. All images you see in the demo files are included for your use in the download package.</p>

              </div>
            </div>
          </div>
          <div class="card mb-2 card-sm card-body hover-shadow-sm">
            <div data-target="#panel-3" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
              <span class="h6 mb-0">Can Leap be used as a 'one page' template?</span>
              <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
            </div>
            <div class="collapse" id="panel-3">
              <div class="pt-3">
                <p>Yes. Leap includes the smooth scroll plugin which is perfect for single page websites.</p>

              </div>
            </div>
          </div>
          <div class="card mb-2 card-sm card-body hover-shadow-sm">
            <div data-target="#panel-4" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4">
              <span class="h6 mb-0">How can I request support?</span>
              <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
            </div>
            <div class="collapse" id="panel-4">
              <div class="pt-3">
                <p>You can request personal support via our dedicated support system on <a href="http://mediumrare.ticksy.com">Ticksy</a>
                </p>

              </div>
            </div>
          </div>
          <div class="card mb-2 card-sm card-body hover-shadow-sm">
            <div data-target="#panel-5" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5">
              <span class="h6 mb-0">Is this a WordPress theme?</span>
              <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
            </div>
            <div class="collapse" id="panel-5">
              <div class="pt-3">
                <p>No. This is a HTML template. A WordPress version is coming soon, <a href="">Subscribe Here</a> to recieve a notification when it is available.</p>

              </div>
            </div>
          </div>
        </div>
        <span>Still have questions? <a href="#" class="hover-arrow" data-toggle="modal" data-target="#ask-modal">Get in
        touch</a>
        </span>
        <div class="modal fade" id="ask-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <img class="icon bg-dark" src="assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
                </button>
                <div class="m-3">
                  <ul class="avatars justify-content-center">
                    <li>
                      <img src="assets/img/avatars/team-1.jpg" alt="Avatar" class="avatar avatar-lg">
                    </li>
                    <li>
                      <img src="assets/img/avatars/team-2.jpg" alt="Avatar" class="avatar avatar-lg">
                    </li>
                    <li>
                      <img src="assets/img/avatars/team-3.jpg" alt="Avatar" class="avatar avatar-lg">
                    </li>
                  </ul>
                  <div class="text-center my-3">
                    <h4 class="h3 mb-1">Pre-sales Questions</h4>
                    <p>
                      Please get in touch for any questions you may have. We typically reply within 24 hours.
                    </p>
                  </div>
                  <form action="https://mailform.mediumra.re/leap/smtp.php" data-form-email novalidate>
                    <div class="form-group">
                      <input type="text" class="form-control" name="contact-name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="contact-email" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                      <textarea name="contact-box-message" rows="5" class="form-control" placeholder="Type your message here" required></textarea>
                    </div>
                    <div data-recaptcha data-sitekey="6Lfmz4gUAAAAAEau9IKfGA7leOKYAiRhv-3WA3gq"></div>
                    <div class="d-none alert alert-danger" role="alert" data-error-message>
                      Please fill all fields correctly.
                    </div>
                    <div class="d-none alert alert-success" role="alert" data-success-message>
                      Thanks, a member of our team will be in touch shortly.
                    </div>
                    <button type="submit" class="btn btn-block btn-primary btn-loading" data-loading-text="Sending">
                      <img class="icon" src="assets/img/icons/theme/code/loading.svg" alt="loading icon" data-inject-svg />
                      <span>Send</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

