{% extends "base.html" %}
{% block body%}
<section>
  <div data-overlay class="bg-primary text-light vh-100" style="text-align: center">
    <img style="height:70%" class="img-fluid" src="/assets/img/neon.svg">
    <h2 class="h1">
      May 16th & 17th
    </h2>
    <h4>
      in Austin, Texas
    </h4>
    <p>
      ↓
    </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-xl-8 col-lg-9 text-center">
        <h2 class="display-4 mx-xl-6">Deep in the 💛 of Texas</h2>
        <p class="lead">
          Join us for two days of talks about software development, data science, community, and of course: Python.
        </p>
      </div>
    </div>
    <div class="row" data-isotope-collection data-ignore-hash="true">
      <div class="col-sm-6 col-lg-4" data-isotope-item>
        <div class="card card-body">
          <div class="flex-grow-1 mb-3">
            <h2>Sponsor 🤝</h2>
            <p class="lead">
              PyTexas wouldn't be possible without our sponsors. See our <a href="/sponsors/prospectus/">Sponsorship Prospectus</a> for details on becoming a sponsor or renewing your sponsorship.</p>
            <a href="/sponsors/past/">See a list of our past sponsors.</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4" data-isotope-item>
        <div class="card card-body">
          <div class="flex-grow-1 mb-3">
            <h2>Speak 🎤</h2>
            <p class="lead">
            Our <a href="https://www.papercall.io/pytexas-2020">Call For Proposals (CFP)</a> has closed. Check back soon for the schedule.
            </p>
            <a href="/speaking">Learn more about speaking at PyTexas.</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4" data-isotope-item>
        <div class="card card-body">
          <div class="flex-grow-1 mb-3">
            <h2>Attend 🎟️</h2>
            <p class="lead">
            We're excited for you to join us! Registration will open in February. Check back then, <a href="https://twitter.com/pytexas">follow us on Twitter</a> or <a href="https://pytexas.us11.list-manage.com/subscribe/post?u=93d4ab771d0c2e4facc053add&id=fa6aa40a2e">join our mailing-list</a> to stay up-to-date.
            </p>
            <a href="/about/code-of-conduct/">Read our Code of Conduct.<a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
