{% extends "base.html" %}
{% block body%}
<section>
  <div data-overlay class="bg-2022-purple text-orange vh-100" style="text-align: center">
    <img style="height:80%" class="img-fluid" src="/assets/img/2022-logo.svg">
    <h1 class="text-orange">
      March 26th & 27th
      </h2>
      <h3 class="text-orange">
        in Austin, Texas
        </h4>
        <!--
    <h5>)
      <a href="https://twitter.com/pytexas/status/1308221319834513413">See our latest update (Sep 21st)</a>
    </h5>-->
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
          </svg>
        </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-xl-8 col-lg-9 text-center">
        <h2 class="display-4 mx-xl-6">Deep in the 🧡 of Texas</h2>
        <p class="lead">
          Join us for two days of talks about software development, data science, community, and of course: Python.
        </p>
      </div>
    </div>
    <div class="row" data-isotope-collection data-ignore-hash="true">
      <div class="col-sm-6 col-lg-4" data-isotope-item>
        <div class="card card-body">
          <div class="flex-grow-1 mb-3">
            <h2>Sponsor 🤝</h2>
            <p class="lead">
              PyTexas wouldn't be possible without our sponsors. Check out out our <a
                href="/sponsors/current-sponsors/">Sponsors</a> page to see all of this year's sponsors that help make
              PyTexas possible.</p>
            <a href="/sponsors/prospectus/">Or learn how to become a sponsor.</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4" data-isotope-item>
        <div class="card card-body">
          <div class="flex-grow-1 mb-3">
            <h2>Attend 🎟️</h2>
            <p class="lead">
              We're excited to see y'all again! PyTexas 2022 will be held in person at the Austin Public Library.
              Tickets will go on sale soon and shirts will be an add-on.</p>
            <a href="/about/code-of-conduct/">Read our Code of Conduct.<a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4" data-isotope-item>
        <div class="card card-body">
          <div class="flex-grow-1 mb-3">
            <h2>Speak 🎤</h2>
            <p class="lead">
              Our Call For Proposals (CFP) will open on November 12, 2021. Check back later.
            </p>
            <a href="/speaking">Learn more about speaking at PyTexas.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
