    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <header>
            <h2>PYTEXAS</h2>
          </header>
          <p>The PyTexas Foundation is a <br />
            non-profit dedicated to <br />
            to expanding the use of Python<br/>
            in Texas through<br />
            conferences and other events.</p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">Learn More</a></li>
            </ul>
          </footer>
        </div>
      </section>