<html>
<head>
    <title>Email form</title>
    <meta name="tags" content="form"/>
    <meta name="date" content="2022-10-23"/>
    <meta name="modified" content="2022-10-23"/>
    <meta name="category" content="none"/>
    <meta name="authors" content="Laura Santamaria"/>
    <meta name="summary" content="the form itself"/>
</head>
<body>
<form class="form-inline" role="form"
      action="//pytexas.us11.list-manage.com/subscribe/post?u=93d4ab771d0c2e4facc053add&amp;id=fa6aa40a2e" method="post"
      data-form-email="" novalidate="">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control transparent" placeholder="Email Address" name="EMAIL" required="">
    </div>
    <button type="submit" class="btn btn-info btn-fill">Notify Me</button>
</form>
</body>
</html>